
<meta http-equiv="refresh" content="3" />







<h1>Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
    <td><%= student.name %></td>
    <td><%= student.mat %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
